@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Maven+Pro');

body {
  margin: 0;
  font-family: "Roboto", "Helvetica Neue", "Helvetica",  "Arial", sans-serif;

}


.fantasy{
  font-family: 'Amatic SC', cursive;
  font-size: 120px;
  color: midnightblue;
  margin-left: 33%;
  margin-top:-10%;
}

#btncat{
  margin-left: 83%;
  margin-top: -4%;
}
button.sel{
  weight: 75px;
  height: 75px;
}

.sel:hover{
  font-size: 35px;
  border-radius: 50px;
  color: #DA8D0E !important;
  background: #ffffff;
  border-color: #F7CF19 !important;
}
.sel{
  font-family: 'Amatic SC', cursive;
  font-size: 35px;
  position: relative;
  background: #ffffff;
  border: 4px solid #093492 !important;
  color: #CF0A0C;
}
#categorias h1 {
  font-family: fantasy, fantasy;
  font-size: 100px;
  color: midnightblue;
  margin-left: 33%;
  margin-top:-10%;
}
.video{
  margin-left: 13%;
  margin-top: -28%;
}

.animals {
  font-family: 'The Girl Next Door', cursive;
  font-size: 100px;
  color: green;
  margin-left: 35%;
  margin-top:-5%;

}

.numeros{
   font-family: 'The Girl Next Door', cursive;
  font-size: 100px;
  color: darkgreen;
  margin-left: 38%;
  margin-top:-5%;

}

.uno-cont{
 margin-left: 15%;
 margin-top: -10%;
}

.dos-cont{
 margin-left: 45%;
 margin-top: -19%;
}

.tres-cont{
  margin-left: 70%;
 margin-top: -20%;
}



.frases{
   font-family: 'The Girl Next Door', cursive;
  font-size: 100px;
  color: teal;
  margin-left: 28%;
  margin-top:-5%;

}

.hola-cont{
 margin-left: 8%;
 margin-top: -10%;
}

.adios-cont{
 margin-left: 30%;
 margin-top: -19%;
}

.como-cont{
  margin-left: 53%;
 margin-top: -18%;
}


.bien-cont{
 margin-left: 75%;
 margin-top: -20%;
}

.comida{
   font-family: 'The Girl Next Door', cursive;
  font-size: 100px;
  color: orange;
  margin-left: 35%;
  margin-top:-5%;

}

.ham-cont{
 margin-left: 10%;
 margin-top: -10%;
}

.hot-cont{
 margin-left: 33%;
 margin-top: -15%;
}

.man-cont{
  margin-left: 53%;
 margin-top: -18%;
}


.agua-cont{
 margin-left: 75%;
 margin-top: -20%;
}
.img1-cont{
 margin-left: 10%;
 margin-top: -10%;
}

.img2-cont{
 margin-left: 33%;
 margin-top: -20%;
}

.img3-cont{
  margin-left: 53%;
 margin-top: -18%;
}


.img4-cont{
 margin-left: 75%;
 margin-top: -20%;
}
.fantasy2{
  font-family: fantasy, fantasy;
  font-size: 100px;
  color: darkorange;
  margin-left: 29%;
  margin-top:-5%;
}
.categorias{
    margin-top: -5%;
}
.brush{
 font-family: Brush Script MT, Brush Script Std, cursive;
 font-size: 70px;
margin-left: 22.5%;
margin-top: -1%;
margin-bottom: -4%;
}
.imagen{
  width: 70%;
  height: 100%;
  margin: 50px auto;
  position: relative;
  margin-bottom: 0px;
  padding-top: -50%;
  left: 15%;
  right: -50%;

}
.avatar{
  width: 400px;
  height: 410px;
  margin: 10px auto;
  position: relative;
  margin-top: -20%;
  margin-bottom: -4px;
  left: 65%;
  right: -50%;
  opacity: 1;
}

.button {
  position: relative;
  background: #CADAFE;
  border: 4px solid #CF0A0C !important;
  color: #093492 !important;
  padding: 15px 25px;
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  cursor: pointer;
  display: inline-block;
  margin: 0.5%;
  left: 41.5%;
  right: -50%;
  border-radius: 5px;
  font-family: 'Amatic SC', cursive;
}

.button:hover {
color: #DA8D0E!important;
background: #ffffff;
border-radius: 50px;
border-color: #F7CF19 !important;
transition: all 0.3s ease 0s;
}



.button2 {
  position: relative;
  background: #CADAFE;
  border: 4px solid #093492 !important;
  color: #CF0A0C !important;
  padding: 15px 25px;
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  cursor: pointer;
  display: block;
  margin: 0.5%;
  left: 41.5%;
  right: -50%;
  margin-top: 2%;
  margin-bottom: 2%;
  border-radius: 5px;
            font-family: 'Amatic SC', cursive;
}

.button2:hover {
color: #DA8D0E !important;
background: #ffffff;
border-radius: 50px;
border-color: #F7CF19 !important;
transition: all 0.3s ease 0s;
}

.button_selec {
  position: relative;
  background: #ffffff;
  border: 4px solid #093492 !important;
  color: #CF0A0C !important;
  padding: 5px 15px;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  cursor: pointer;
  display: block;
  margin: 0.5%;
  left: 0.5%;
  right: -50%;
  margin-top: 2%;
  margin-bottom: 2%;
  border-radius: 5px;
}

.button_selec:hover {
color: #DA8D0E !important;
background: #ffffff;
border-radius: 50px;
border-color: #F7CF19 !important;
transition: all 0.3s ease 0s;
}


.button3 {
  position: relative;
  background-color: #0000CD;
  border: none;
  color: white;
  padding: 15px 25px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  display: block;
  margin: 0.9%;
  margin-bottom: 1.5%;
  left: 41.5%;
  right: -50%;
  background:    linear-gradient(#3d85c6, #073763);
  border-radius: 5px;
}



.buttonInicio{
  position: relative;
  background: #CADAFE;
  border: 4px solid #093492 !important;
  color: #CF0A0C !important;
  padding: 15px 25px;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  cursor: pointer;
  display: block;
  margin: 0.5%;
  left: 43%;
  margin-top: -20%;
  border-radius: 5px;
}

.buttonInicio:hover {
color: #DA8D0E!important;
background: #ffffff;
border-radius: 50px;
border-color: #F7CF19 !important;
transition: all 0.3s ease 0s;
}


.site-footer
{
    height: 10vh;
  background-color:black;
  font-size:15px;
  line-height:24px;
  color:#73737;
  opacity:0.9;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
#back{
margin-left: 1%;
margin-top: 1 %;}

.textoImagenes{
  font-family: 'The Girl Next Door', cursive;
  font-size: 30px;
  position: absolute;
  margin-top:-3%;
}

h1{
  text-align: center;
  color: navy;
  size: 50px;
  font-family: 'Amatic SC', cursive;
  font-size: 65px;
}


}
